.heading-primary {
  color: $color-white;
  text-transform: uppercase;
  backface-visibility: hidden;

  &__main {
    display: block;
    font-size: 6rem;
    font-weight: 400;
    letter-spacing: 3.5rem;
    /* COMPENSATE FOR LAST CHARACTER LETTER-SPACING */
    margin-right: -3.5rem;

    @mixin atSmall {
      font-size: 5rem;
      letter-spacing: 1rem;
      /* COMPENSATE FOR LAST CHARACTER LETTER-SPACING */
      margin-right: -1rem;
    }

  }

  &__sub {
    display: block;
    font-size: 2rem;
    font-weight: 700;
    letter-spacing: 1.7rem;
    /* COMPENSATE FOR LAST CHARACTER LETTER-SPACING */
    margin-right: -1.7rem;

    @mixin atSmall {
      font-size: 1.7rem;
      letter-spacing: 0.75rem;
      /* COMPENSATE FOR LAST CHARACTER LETTER-SPACING */
      margin-right: -0.75rem;
    }

  }
}
